<template>
  <div v-if="data.loading" ref="fetchingEl" id="fetching">
    <loading />
  </div>

  <div id="background">
    <div
      id="background-anim"
      :style="{
        backgroundImage: `url(${require('@/assets/images/background-anim.png')})`,
      }"
    ></div>

    <div
      id="background-anim-2"
      :style="{
        backgroundImage: `url(${require('@/assets/images/background-anim-2.png')})`,
      }"
    ></div>
  </div>

  <!-- main contentt -->
  <div class="section">
    <h1 style="font-size: 35px; margin-bottom: 0">TBD Dog Breed Classifier</h1>

    <h3 style="margin-bottom: 80px">
      Dogs are not our whole life, but they make our lives whole.
    </h3>

    <div
      v-if="!data.cameraMode"
      ref="dropEl"
      id="dropzone"
      @click="onSelectFile"
      style="margin-bottom: auto"
    >
      <input
        ref="inputEl"
        type="file"
        accept=".png, .jpg, .jpeg"
        @change="onFileSelected"
        required
      />
      <img ref="imageEl" />
      <span ref="dragLabel">Drag & drop image file here.</span>
    </div>
  </div>

  <div
    ref="resultEl"
    class="section"
    id="result-section"
    :style="{ display: data.showResult ? 'flex' : 'none' }"
  >
    <!-- is dog image -->
    <div v-if="data.result.class">
      <h1 id="prob" style="margin-bottom: 70px">
        <span style="font-size: 40px; color: #ffca51">{{
          `${data.result.prob}%`
        }}</span>
        {{ ` looks like ` }}
        <span style="font-size: 40px; color: #ffca51">{{
          data.result.class
        }}</span>
      </h1>

      <div id="dog-card">
        <img
          id="dog-card-img"
          :src="require('@/assets/images/naruto.svg')"
          alt="dog"
        />
        <p style="margin-bottom: 20px">{{ data.result.tip.description }}</p>
        <div style="margin-top: auto; text-align: center">
          Reference:
          <a :href="data.result.tip.ref" target="_blank">
            {{ data.result.tip.ref }}
          </a>
        </div>
      </div>
    </div>

    <!-- something else -->
    <div v-else>
      <h1>{{ data.result.message }}</h1>
    </div>
  </div>
</template>

<script>
import { inject, onMounted, reactive, ref, watch } from "@vue/runtime-core";
import Loading from "@/components/Loding.vue";
// eslint-disable-next-line no-unused-vars
import dogData from "@/assets/dog.json";

export default {
  components: { Loading },

  setup() {
    // elements
    const imageEl = ref(null);
    const dropEl = ref(null);
    const inputEl = ref(null);
    const dragLabel = ref(null);
    const resultEl = ref(null);
    const fetchingEl = ref(null);
    // end elements

    const data = reactive({
      width: 0,
      height: 0,
      showResult: false,
      result: {},
      loding: false,
      cameraMode: false,
    });

    // eslint-disable-next-line no-unused-vars
    const axios = inject("axios");
    const time = inject("time");

    const image = ref(null);
    watch(image, (val) => {
      const url = URL.createObjectURL(val);
      imageEl.value.src = url;
      imageEl.value.onload = () => {
        URL.revokeObjectURL(url);
      };

      dragLabel.value.style.display = "none";

      fetchData();
    });

    async function fetchData() {
      data.loading = true;
      try {
        const formData = new FormData();
        formData.append("img_file", image.value);

        const { data: result } = await axios.post(
          "http://localhost:8000/classify",
          formData
        );

        data.result = result;

        // get random tip from json file
        if (result.class) {
          const dogClass = result.class.toLowerCase();
          const tips = dogData[dogClass].tips;
          const randomTip = tips[Math.floor(Math.random() * tips.length)];

          data.result.th_name = dogData[dogClass].name_th;
          data.result.en_name = dogData[dogClass].name_en;
          data.result.tip = randomTip;
        }

        data.showResult = true;
        await time.wait(1000);

        window.scrollTo({
          top: resultEl.value.offsetTop,
          behavior: "smooth",
        });
      } catch (e) {
        console.log(e);
      }
      data.loading = false;
    }

    onMounted(async () => {
      dropEl.value.addEventListener("drop", onDrop);
      dropEl.value.addEventListener("dragenter", onDragEnter);
      dropEl.value.addEventListener("dragleave", onDragLeave);
      dropEl.value.addEventListener("dragover", onDragOver);
    });

    async function onDrop(e) {
      e.preventDefault();
      dropEl.value.classList.remove("active");

      const files = e.dataTransfer.files;
      if (files.length > 0 && /^image\/(jpeg|jpg|png)$/.test(files[0].type)) {
        const file = files[0];
        image.value = file;
      }
    }

    function onDragEnter() {
      dropEl.value.classList.add("active");
    }

    function onDragLeave() {
      dropEl.value.classList.remove("active");
    }

    function onDragOver(e) {
      e.preventDefault();
    }

    function onSelectFile() {
      inputEl.value.click();
    }

    function onFileSelected() {
      const files = inputEl.value.files;
      if (files.length > 0) {
        image.value = files[0];
      }
    }

    function detect() {
      console.log(image.value);
    }

    return {
      image,
      detect,
      onFileSelected,
      onSelectFile,
      dragLabel,
      data,
      // elements
      dropEl,
      inputEl,
      imageEl,
      resultEl,
      fetchingEl,
    };
  },
};
</script>

<style lang="scss" scoped>
#fetching {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #19573e;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  #background-anim {
    opacity: 0.3;
    animation: bgAnim 450s linear infinite;
  }

  #background-anim-2 {
    opacity: 0.7;
    animation: bgAnim 200s linear infinite;
  }
}

@keyframes bgAnim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 8000px;
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 50px 20px;
  color: white;
  min-height: 100vh;
}

#dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh;
  aspect-ratio: 1;
  color: black;
  background-color: white;
  border: 5px dashed #ffca51;
  cursor: pointer;

  &.active {
    animation: dropzoneShake 0.5s linear infinite;
  }

  input {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;

    &[src=""] {
      display: none;
    }
  }

  span {
    pointer-events: none;
  }
}

@keyframes dropzoneShake {
  0%,
  100% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(5deg);
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-5deg);
  }
}

#result-section {
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #19573e;
}

#prob {
  margin-top: 0;
  text-align: center;
}

#dog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(20px + 50px) 20px 20px 20px;
  width: 100%;
  max-width: 800px;
  min-height: 30vh;
  color: black;
  background-color: white;
  border-radius: 10px;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  #dog-card-img {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: white;
    border: 3px solid white;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}
</style>
