<template>
  <div
    id="background"
    :style="{
      backgroundImage: `url(${require('@/assets/images/background.png')})`,
    }"
  ></div>
  <div class="layout">
    <div ref="animation" id="animation">
      <div id="dog-line"></div>
      <img
        ref="dogColor"
        id="dog-color"
        :src="require('@/assets/images/dog-color.svg')"
        alt="dog"
      />
    </div>
  </div>
</template>

<script>
import { inject, onMounted, ref } from "@vue/runtime-core";
import Vivus from "vivus";
import router from "@/router";

export default {
  setup() {
    const dogColor = ref(null);
    const animation = ref(null);
    const time = inject("time");

    onMounted(() => {
      new Vivus(
        "dog-line",
        {
          duration: 1000,
          file: require("@/assets/images/dog-line.svg"),
          animTimingFunction: Vivus.EASE,
        },
        showColor
      );
    });

    async function showColor() {
      dogColor.value.classList.add("show");
      await time.wait(500);
      animation.value.classList.add("spin");
      await time.wait(2000);
      router.push("/detector");
    }

    return { animation, dogColor };
  },
};
</script>

<style lang="scss" scoped>
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.layout {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#animation {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#dog-line,
#dog-color {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30vh;
  transform: translate(-50%, -50%);
}

#dog-color {
  opacity: 0;
  transform: translate(-50%, -50.5%) scale(1);
  transition: opacity 1s ease;
}

#dog-color.show {
  opacity: 1;
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
</style>
