@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box !important;
  font-family: "IBM Plex Sans Thai", sans-serif;
}

body {
  margin: 0;
}

.button {
  box-shadow: none;
  border: none;
  outline: none;
}
